= content_for :title, "Trade event: #{decode @trade_event.name}"

%h1 Edit Trade Event

= render 'form'

.links
  %ul
    %li= link_to 'Back', :back
    %li= link_to 'Trade events', trade_events_path
