= content_for :title, 'Trade Events'
%h1 Trade Events

%table.pure-table.pure-table-striped
  %thead
    %tr
      %th Name
      %th Source
      %th Start date
      %th End date
      %th MD present?
      %th Actions

  %tbody
    - @trade_events.each do |trade_event|
      %tr
        %td= link_to decode(trade_event.name), trade_event_path(trade_event)
        %td= trade_event.attributes[:source]
        %td= render_date trade_event.attributes[:start_date]
        %td= render_date trade_event.attributes[:end_date]
        %td= trade_event.md_description.present?
        %td= link_to 'Edit', edit_trade_event_path(trade_event)

.links
  = will_paginate @trade_events
