= content_for :title, "Trade event: #{decode @trade_event.name}"

%h1 Trade Event

= render 'read_only_attributes'

%dl
  = render_attribute @trade_event, 'original_description'

  %dt Markdown description
  %dd
    %pre= @trade_event.md_description

  %dt HTML description
  %dd
    %pre= @trade_event.html_description

.links
  %ul
    %li= link_to 'Edit', edit_trade_event_path(@trade_event)
    %li= link_to 'Back', :back
    %li= link_to 'Trade events', trade_events_path
