= content_for :title, "Trade event: #{decode @trade_event.name}"

= render 'shared/flash'

%dl
  - %w(name id source url event_url start_date end_date registration_title registration_url description).each do |attribute|
    %dt= attribute.titleize
    %dd= render_attribute @trade_event, attribute

  %dt Markdown description
  %dd
    %pre= @trade_event.md_description

  %dt HTML description
  %dd
    %pre= @trade_event.html_description

= link_to 'Edit', edit_trade_event_path(@trade_event)
\|
= link_to 'Back', :back
\|
= link_to 'Trade events', trade_events_path
