.form
  = form_for @user, html: { class: 'pure-form pure-form-stacked' } do |f|
    = render partial: 'shared/error_messages', locals: { model: @user }

    %fieldset
      = f.label :email
      = f.email_field :email, autofocus: true

    = f.submit 'Add'
