= content_for :title, 'Users'
%h1 Users

= render 'shared/flash'

%table.pure-table.pure-table-striped
  %thead
    %tr
      %th email

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email

.links
  %ul
    %li= link_to 'Home', root_path
    %li= link_to 'Add user', new_user_path
