= content_for :title, 'intrasearch Admin'
%h1 intrasearch Admin

%p
  Hello
  = current_user.email

.links
  %ul
    %li= link_to 'Trade Events', trade_events_path
    %li= link_to 'Trade Leads', trade_leads_path
    %li= link_to 'Users', users_path
